.bode_style {
  background-color: #120571;
}
.size_set {
  height: 100%;
  width: 100px;
}
.title_set {
  color: #2D64FF;
  font-size: 750%;
  font-weight: 70%;
}
.backcolor {
  weight: 1000px;
  height: 750px;
}
.color {
  background-color: #073FDB;
}
.size{
  font-size: 251%;
}
.h {
  color: #FFFFFF;
}
.o{
  font-size: 300%;
  color: #FFFFFF;
}
